body {
  background-image: linear-gradient(to right top, #2ed3db, #38dadf, #41e2e4, #4ae9e8, #53f1ec, #5deef3,
    #6bebf9, #7ae8fc, #97d8f5, #adc9e3, #b7bdcc, #b4b4b4);
    background-repeat: no-repeat;
}
section {
  background-image: inherit;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
