<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

</head>
<body>
<!-- This page requires all clubs including their name email and faculty advisor-->
<!-- This page directs to club home page for admnis-->
<!-- This page delete a club-->
<!-- This page can add a new club-->

<div class="nav_bar" ></div>

<h2 class="d-flex justify-content-center mt-4 pt-6">Faculty Advisor List</h2>
<div class="justify-content-left mt-2 mx-5"> <button class=" btn-info text-dark  m-2 p-2" id="add"><i class="fa fa-plus m-3 " style="width: 20px;"></i>Add faculty advisor</button></div>

<div class="container table-responsive mx-auto my-2 p-3 ">
    <table class="table display table-striped student-list">
        <thead class="bg-dark text-light">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th >Email</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<div class="modal" tabindex="-1" role="dialog" id="add_dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-light">
                <h5 class="modal-title">Add Club</h5>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="faname">Faculty Advisor Name</n></label>
                        <input type="text" class="form-control" id="faname">
                    </div>
                    <div class="form-group">
                        <label for="fasurname">Faculty Advisor Surname</n></label>
                        <input type="text" class="form-control" id="fasurname">
                    </div>
                    <div class="form-group">
                        <label for="faemail">Faculty Advisor Email</n></label>
                        <input type="text" class="form-control" id="faemail">
                    </div>
                    <div class="form-group">
                        <label for="fausername">Faculty Advisor Username</n></label>
                        <input type="text" class="form-control" id="fausername">
                    </div>
                    <div class="form-group">
                        <label for="fapassword">Password</label>
                        <input type="password" class="form-control" id="fapassword">
                    </div>

                </form>
            </div>
        </div>
        <div class="modal-footer bg-info">
            <button type="button" class="btn btn-dark" id = "createFa">Create Faculty Advisor</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="add_dialog_d">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-light">
                <h5 class="modal-title">Delete the Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id = "createClub">Delete Faculty Advisor</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

</body>
<script>

       $("#add").click(function(){

            // show Modal
            $('#add_dialog').modal('show');
       });
        $("#createFa").click(function() {
            // Prevent the form from submitting via the browser.
            alert("save");
            //event.preventDefault();
            createClub();
        });

        function createFacultyAdvisor() {
            var formData = {
                faculty_advisor_name: $("#faname").val(),
                faculty_advisor_surname: $("#fasurname").val(),
                faculty_advisor_email: $("#faemail").val(),
                faculty_advisor_username: $("#fausername").val(),
                faculty_advisor_password: $("#fapassword").val(),
            }

            $.ajax({
                type: "PUT",
                headers: {
                    "Access-Control-Allow-Origin": "*",
                    Authorization : localStorage.getItem('Authorization')
                },
                crossDomain: true,
                contentType: "application/json",
                url: "http://localhost:8080/club/create-club",
                data: JSON.stringify(formData),
                dataType: 'json',
                success: function (response) {
                    if (response.messageType == "ERROR") {
                        alert(response.message)
                    } else if (response.messageType == "SUCCESS") {
                        alert(response.message)
                    }
                },
                error: function (e) {
                    alert("Error!")
                    console.log("ERROR: ", e);
                }
            });
        }
   // })
     //   }
 $(".nav_bar").load("http://localhost:8080/admin.html");
       $("#events_nav").addClass("active");
        // Attach Button click event listener
       $("#events_nav").addClass("active");

      var table = $(".student-list").DataTable();
      $.ajax({
        type: "GET",
        headers: {
          "Access-Control-Allow-Origin": "*",
          Authorization : localStorage.getItem('Authorization')
        },
        crossDomain: true,
        contentType: "application/json",
        url: "http://localhost:8080/getAllStudents",
        dataType: 'json',
        success: function(response) {
          console.log(response);
          function showEvents(r, i){
              table.row.add([
                r[i].name,
                r[i].surname,
                r[i].username,
                r[i].email,
                `<button class="btn btn-danger  delete">Delete</button>`
                ]).draw();
          };
          for (let i = 0; i < response.length; i++) {
            showEvents(response, i);
          }
        }
      });



</script>


</html>