<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link src="../nav_bar_club_director.html">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

</head>
<body>

<div class="nav_bar" ></div>

<h2 class="d-flex justify-content-center mt-4 pt-6">Event List</h2>


<div class="container  m-auto align-items-center table-responsive" >
  <div class= "table display table-striped table-bordered">
    <form>
      <div class="form-row col-12 align-items-center justify-content-center m-auto px-5 py-3" style="background-color: #d4d4d4; width: 900px;">

        <div class="col-sm-2 m-1">

          <label for="select-club" >Club:</label>
          <button id="select-club" class="btn btn-primary dropdown-toggle bg-light text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">select</button>
          <div class="dropdown-menu" aria-labelledby="my-dropdown">
            <a class="dropdown-item active" href="#">Text</a>
          </div>
        </div>

        <div class="col-sm-2 m-1 ">
          <div class="form-check m-auto">
            <label class="form-check-label order-1 m-auto" for="autoSizingCheck2">
              Ge points
            </label>
            <input  type="radio" id="autoSizingCheck2">

          </div>
        </div>

        <div class="col-1 my-1">
          <button type="submit" class="btn bg-dark text-light">Apply filter</button>
        </div>
      </div>

    </form>

    <div class="row" >
      <table class="table table-light  display table-striped table-bordered  my-table" style="width: 100%;">
        <thead class="thead text-light" style="background-color: #333
                    ;" >
        <tr>
          <th scope="col">Club</th>
          <th scope="col">Event Name</th>

          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Ge Points</th>
          <th scope="col">Location</th>
          <th scope="col">Details</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="event:${events}">
          <!--/*@thymesVar id="event" type=""*/-->
          <td th:text="${event.clubName}">Club</td>
          <td th:text="${event.eventName}">Event Name</td>
          <td th:text="${event.startDate}">Date</td>
          <td>Time</td>
          <td th:text="${event.gePoint}">Ge Points</td>
          <td>loc</td>
          <td><button type="button" class="btn btn-info text-light">See Details</button></td>
        </tr>

        <tr>
          <td>club a</td>
          <th>Event x</th>
          <td>date</td>
          <td>time</td>
          <td>ge</td>
          <td>loc</td>
          <td><button type="button" class="btn btn-info text-light">See Details</button></td>
        </tr><tr>
          <td>club a</td>
          <th>Event x</th>
          <td>date</td>
          <td>time</td>
          <td>ge</td>
          <td>loc</td>
          <td><button type="button" class="btn btn-info text-light">See Details</button></td>
        </tr><tr>
          <td>club a</td>
          <th>Event x</th>
          <td>date</td>
          <td>time</td>
          <td>ge</td>
          <td>loc</td>
          <td><button type="button" class="btn btn-info text-light">See Details</button></td>
        </tr><tr>
          <td>club a</td>
          <th>Event x</th>
          <td>date</td>
          <td>time</td>
          <td>ge</td>
          <td>loc</td>
          <td><button type="button" class="btn btn-info text-light">See Details</button></td>
        </tr>

        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
  </div>
</div>


</body>
<script src="../../JS/Event_pages/Admin_event_list.js"></script>
<script>$(document).ready(function() {
  $('.my-table').DataTable({
    "ordering": true,               // Allows ordering
    "searching": true,              // Searchbox
    "paging": true,                 // Pagination
    "info": false,                  // Shows 'Showing X of X' information
    "pagingType": 'simple_numbers', // Shows Previous, page numbers & next buttons only
    "pageLength": 10,               // Defaults number of rows to display in table
    "columnDefs": [
      {
        "targets": 'dialPlanButtons',
        "searchable": true,    // Stops search in the fields
        "sorting": true,       // Stops sorting
        "orderable": true      // Stops ordering
      }
    ],
    "dom": '<"top"f>rt<"bottom"lp><"clear">', // Positions table elements
    "language": {
      //     "search": "_INPUT_",            // Removes the 'Search' field label
      "searchPlaceholder": "Search"   // Placeholder for the search box
    },
    "search": {
      "addClass": 'form-control input-lg col-xs-12'
    },

    "fnDrawCallback":function(){
      $("input[type='search']").attr("id", "searchBox");
      $('#dialPlanListTable').css('cssText', "margin-top: 0px !important;");
      $("select[name='dialPlanListTable_length'], #searchBox").removeClass("input-sm");
      $('#searchBox').css("width", "300px").focus();
      $('#dialPlanListTable_filter').removeClass('dataTables_filter');
    }
  });
} );</script>

</html>