<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link src="../nav_bar_club_director.html">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    
</head>
<body>
    <!-- This page requires all eventss including their name, club name, time, date ge point and location-->
    <!-- This page directs to event  page for admnis-->
    
    <div class="nav_bar" ></div>
    
    <h2 class="d-flex justify-content-center mt-4 pt-6">Event List</h2>
    
    <div class="container table-responsive mx-auto my-2 p-3 ">
        <table class="table display table-striped club-list" id="my-clubs">
            <thead class="bg-dark text-light">
                <tr>
                    <th>Club Name</th>
                    <th class="filtered">Event Name</th>
                    <th>Date</th>
                    <th class="filtered">Time</th>
                    <th>Ge points</th>
                    <th>Location</th>
                    
                    <th>Details</th>
                </tr>
            </thead>
            <thead class="filter">
                <th class="filter-here-d-1"></th>
                <th class="filter-here-s"></th>
                <th class="filter-here-s"></th>
                <th class="filter-here-d-2"></th>
                <th class="filter-here-d-3"></th>
                <th></th>
                <th ></th>
            </thead>
            <tbody>
                <tr><th>111clbbbbbbbbb</th>
                    <th>event name</th>
                    <th>24.11.2021</th>
                    <th>12.30</th>
                    <td>50</td>
                    <th><div class="mx-auto"><button class="btn-outline-dark"><i class="fa fa-location"> Home Page</i></div></th>
                        <th><div class="justify-content-right">
                            <button class="btn btn-danger" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage membership</button>
                            
                        </div></th></tr>
                       
                        
                    </tbody>
                    
                </table>
                
            </div>
            
        </body>
                        
        <!--<script src="../../JS/Event_pages/Admin_event_list.js"></script>-->
                
                
                
        <script>
            
            $(document).ready(function(){
                var list;
                
                    $.get("a.txt", function(data, status){
                        list = jQuery.parseJSON(data);
                       // alert("Data: " + list.length + "\nStatus: " + status);
                        for(var i=0;i<4;i++)
                        {
                           //  alert("i - " + i);
                         //   row ="<tr><td>"+list[i]["club"]+"</td>" + "<td>"+list[i]["event"]+"</td><td>"+ list[i]["date"]+"</td><td>"+ list[i]["time"]+"</td><td>"+list[i]["ge"]+"</td>"+list[i]["location"]+"</td>cdae <button class=\"btn btn-danger\" type=\"button\" id=\"dropdownMenuButton\" data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">Manage membership</button><td></td><td></td></tr>";
                        //    $("table tbody").append(row)
                           // $('table tr:last').after(row);
                            $("#my-clubs").DataTable().row.add( [
                                list[i]["club"],
                                list[i]["event"],
                                list[i]["date"],
                                list[i]["time"],
                                list[i]["ge"],
                                list[i]["location"],
                                "seee",
                                ] ).draw(  );
                        }
                        
                    });
           
            
                // Setup - add a text input to each footer cell
                $('#my-clubs .filter .filter-here-s').each( function () {
                    var title = $(this).text();
                    $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
                } );
                
                // DataTable
                var table = $('#my-clubs').DataTable({
                    initComplete: function () {
                        // Apply the search
                        alert("ddd")
                        this.api().columns(0).every( function () {
                            var that = this;
                            
                            $( 'input', this.footer() ).on( 'keyup change clear', function () {
                                if ( that.search() !== this.value ) {
                                    that
                                    .search( this.value )
                                    .draw();
                                }
                            } );
                        } );
                        
                        this.api().columns(0).every( function () {
                            
                            var column = this;
                            var select = $('<select><option value=""></option></select>')
                            .appendTo( $(".filter-here-d-1").empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                                );
                                
                                column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                            } );
                            
                            column.data().unique().sort().each( function ( d, j ) {
                                select.append( '<option value="'+d+'">'+d+'</option>' )
                            } );
                        } );
                        this.api().columns(3).every( function () {
                            var column = this;
                            var select = $('<select><option value=""></option></select>')
                            .appendTo( $(".filter-here-d-2").empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                                );
                                
                                column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                            } );
                            
                            column.data().unique().sort().each( function ( d, j ) {
                                select.append( '<option value="'+d+'">'+d+'</option>' )
                            } );
                        } );
                        this.api().columns(4).every( function () {
                            var column = this;
                            var select = $('<select><option value=""></option></select>')
                            .appendTo( $(".filter-here-d-3").empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                                );
                                
                                column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                            } );
                            
                            column.data().unique().sort().each( function ( d, j ) {
                                select.append( '<option value="'+d+'">'+d+'</option>' )
                            } );
                        } );
                        
                        
                        
                        
                        
                    }
                });
            });
            
        </script>
        
        
        <script>$(document).ready(function () {
            
            // Attach Button click event listener 
            $("#add").click(function(){
                
                // show Modal
                $('#add_dialog').modal('show');
            });
        });</script>
        
        </html>