<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title>Club_home_page</title>
</head>
<body>

<div class="nav_bar"></div>

<div id="background" style="height:400px; " class=" bg-cover text-white">
</div>

<div class="container py-5">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-4 font-weight-bold" id="club_name"></h1>
      <p class="font-italic text-muted" id="club_description"></p>
    </div>
    <div class="col">
      <img  id="logo" src="" class="rounded-circle float-right border border-success" alt="Cinque Terre" width="300" height="300" style="margin-top:-30%; float: right; margin-right: 10%">
    </div>
  </div>

  <div class="row">
    <div class="col pt-5" >
      <h3 class="">Our Board Members</h3>
      <div id="list_members" class="row">

      </div>
    </div>
    <div class="col pt-5 col-lg-3 manager_buttons">
      <button type="button" class="btn btn-primary m-1 for_student" id="events">Events</button><br>
      <button type="button" class="btn btn-primary m-1 for_student" id="Contact_us">Contact us</button><br>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="contact_us_dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info text-light">
        <h5 class="modal-title">Contact us</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <h3 class="label" >Club Director </h3>
            <p id="club_director_email" class="pb-2"></p>
            <h3 class="label">Faculty Advisor </h3>
            <p id="faculty_advisor_email" class="pb-2"></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</body>
<script>
  $(".nav_bar").load("http://localhost:8080/admin.html");
  $("#events_nav").addClass("active");

  $(document).ready(function () {
    $("#events").click(function () {
      window.location.replace("http://localhost:8080/app/admin_club_event_list/"+clubId);
    });
    $("#Contact_us").click(function () {
      $('#contact_us_dialog').modal('show');
    });

    clubId = [[${clubId}]]
    var club_director_email;
    var faculty_advisor_email;
    $.ajax({
      type: "GET",
      headers: {
        "Access-Control-Allow-Origin": "*",
        Authorization: localStorage.getItem('Authorization')
      },
      crossDomain: true,
      contentType: "application/json",
      url: "http://localhost:8080/club/get/" + clubId,
      dataType: 'json',
      success: function (response) {
        console.log(response);
        $("#club_name").text(response.name);
        $("#club_description").text(response.description);
        $("#club_director_email").text(response.clubDirectorMail);
        $("#faculty_advisor_email").text(response.faultyAdvisorMail);
        $("#logo").attr("src", "data:image/png;base64," +response.logoImage);
        $('#background').css('background', 'url(data:image/png;base64,' + response.backgroundImage + ')');


        for (let i = 0; i < response.boardMembers.length; i++) {
          showMember(response.boardMembers, i)
        }

      }
    });

    function showMember(mem, i) {
      $("#list_members").append("<div class='col'> <div class=\"card border-0\">\n" +
              "                                <div class=\"position-relative rounded-circle overflow-hidden mx-auto custom-circle-image\" style=\"height: 200px; width: 200px\">\n" +
              "                                    <img class=\"w-100 h-100 rounded-circle\" src=\"data:image/png;base64,"+mem[i].profileImage+"\" style=\"height: 100px; width: 100px\" alt=\"Card image cap\">\n" +
              "                                </div>\n" +
              "                                <div class=\"card-body text-center mt-4\">\n" +
              "                                    <h3 class=\"text-uppercase card-title\">" + mem[i].userFullName + "</h3>\n" +
              "                                    <p class=\"card-text\">" + mem[i].title + "</p>\n" +
              "                                </div>\n" +
              "                            </div> </div>")

    }
  });

</script>
</html>