<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link src="nav_bar/admin.html">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
</head>
<body>
<!-- This page requires all clubs including their name email and faculty advisor-->
<!-- This page directs to club home page for admnis-->
<!-- This page delete a club-->
<!-- This page can add a new club-->

<div class="nav_bar" ></div>

<h2 class="d-flex justify-content-center mt-4 pt-6">Event List</h2>

<div class="container table-responsive mx-auto my-2 p-3 ">
  <table class="table display table-striped club-list">
    <thead class="bg-dark text-light">
    <tr>
      <th class="filtered">Club Name</th>
      <th>Club Home pages</th>

    </tr>
    </thead>
    <tbody>
      <td>Club</td>
      <td><button type="button" class="btn btn-info text-light">See Details</button></td>
    </tr>

    </tbody>

  </table>

</div>

</body>

<script>
  $(document).ready( function () {

    $.ajax({
      type : "GET",
      headers: {
        "Access-Control-Allow-Origin": "*",
      },
      crossDomain: true,
      contentType : "application/json",
      url : "/club/app/getAllClubs",

      success : function(result) {
        console.log(" result _>>>" + result)
        if (result.status == "success") {
          alert("finally");
          //console.table(events);

        } else {
          alert("oh nooo");
        }
        console.log(result);
      },
      error : function(e) {
        alert("Error!")
        console.log("ERROR: ", e);
      }
    });
    $('.club-list').DataTable(
            { language: {
                searchPlaceholder: "Search",
                search: "",
              },
            });
  });
</script>

<script>
</script>

</html>