<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>View Application</title>
</head>
<body>

<div class="flex-column justify-content-center">
    <h2 class="d-flex justify-content-center pt-6" id="name-surname">name surname</h2>
    <form style="width: 50%; margin: auto" class="pb-5" id="application"></form>
    <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-secondary" onclick="history.back()" id="go-back">Go Back</button>
        <button type="button" class="btn btn-primary" id="accept">Accept</button>
        <button type="button" class="btn btn-danger" id="reject">Reject</button>
    </div>
</div>

</body>
<script>

    var userId = [[${userId}]];
    var clubId = [[${clubId}]];

    $(document).ready( function() {

        $.ajax({
            type: "GET",
            headers: {
                "Access-Control-Allow-Origin": "*",
                Authorization : localStorage.getItem('Authorization')
            },
            crossDomain: true,
            contentType: "application/json",
            url: `http://localhost:8080/filledForm/getCandidateApplication/${clubId}/${userId}`,
            dataType: 'json',
            success: function(response) {
                console.log(response);
                $("#name-surname").text(response.name_surname); //isim soyisim almam lazım

                for (let i = 0; (i+1) < response.application.length; i += 2) { //soru-cevap arrayi lazım
                    console.log("in appending entries");
                    var newQandA = `<div class=\"form-group\">
                            <label for=\"a${i}\" id=\"q${i}\">${response.application[i]}</label>
                            <p type=\"text\" class=\"form-control form-applicationcontrol-lg\" id=\"a${i}\">${response.application[i+1]}</p>
                        </div>`
                    $("#application").append(newQandA);
                }
            }
        });

            $( "#accept" ).click(function() {
                console.log("in accept")
                //acceptApplication();
            });



            $("#reject").click(function() {
                console.log("in reject")
                //rejectApplication();
            });

    });

</script>

</html>