<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title>Club_home_page</title>
</head>
<script>

  </script>
<body>
<div class="nav_bar"></div>

<div id="background" style="height:400px; " class=" bg-cover text-white">
</div>

<div class="container py-5">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-4 font-weight-bold" id="club_name"></h1>
      <p class="font-italic text-muted" id="club_description"></p>
    </div>
    <div class="col">
      <img  id="logo" src="" class="rounded-circle float-right border border-success" alt="Cinque Terre" width="300" height="300" style="margin-top:-30%; float: right; margin-right: 10%">
    </div>
  </div>

  <div class="row">
    <div class="col pt-5" >
      <h3 class="">Our Board Members</h3>
      <div id="list_members" class="row">

      </div>
    </div>
    <div class="col pt-5 col-lg-3 manager_buttons">
      <button type="button" id="edit_description" class="btn btn-primary m-1 for_director">Edit description</button><br>
      <button type="button" id="edit_logo" class="btn btn-primary m-1 for_director">Change logo</button><br>
      <button type="button" id="edit_background" class="btn btn-primary m-1 for_director">Change background</button><br>
      <button type="button" id="edit_application" class="btn btn-primary m-1 for_director">Create/Edit application</button><br>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="edit_logo_dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info text-light">
        <h5 class="modal-title">Change logo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group">
            <label for="form1">Upload image</n></label>
            <form id="form1" runat="server">
              <input type="file" name="img" id="image" onchange="encodeImgtoBase64Logo(this)">
              <a id="convertImg" href=""></a>
              <img src="" alt="" id="displayImg" style="width: 100px; height: 100px">

            </form>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id = "saveLogo">Save logo</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="edit_background_dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info text-light">
        <h5 class="modal-title">Change Background</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="form1">Upload image</n></label>
            <form id="form2" runat="server">
              <input type="file" name="img" id="image1" onchange="encodeImgtoBase64Background(this)">
              <a id="convertImg1" href=""></a>
              <img src="" alt="" id="displayImg1" style="width: 100px; height: 100px">
            </form>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id = "save_background">Save Background</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="edit_description_dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info text-light">
        <h5 class="modal-title">Change Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <textarea class="form-control" id="explanation_edit" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id = "save_description">Save Description</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
</div>
</body>
<script>
  //Convert image to 64 for logo image
  var imageLogo;
  function encodeImgtoBase64Logo(element) {

    var img = element.files[0];

    var reader = new FileReader();

    reader.onloadend = function() {

      $("#convertImg").attr("href",reader.result);
      imageLogo= /base64,(.+)/.exec(reader.result)[1];
      $("#displayImg").attr("src", reader.result);

    }
    reader.readAsDataURL(img);
  }
  //Convert image to 64 for logo backgrouond
  var imageBackground;
  function encodeImgtoBase64Background(element) {

    var img = element.files[0];

    var reader = new FileReader();

    reader.onloadend = function() {

      $("#convertImg1").attr("href",reader.result);
      imageBackground= /base64,(.+)/.exec(reader.result)[1];
      $("#displayImg1").attr("src", reader.result);

    }
    reader.readAsDataURL(img);
  }


 //Save logo button clicked
  $("#saveLogo").click( function () {
   var imageLogoJson = {
     file:  imageLogo
    }
    alert(imageLogo);
      $.ajax({
        type: "PUT",
        headers: {
          "Access-Control-Allow-Origin": "*",
          Authorization: localStorage.getItem('Authorization')
        },
        crossDomain: true,
        contentType: "application/json",
        url: "http://localhost:8080/club/uploadPhotoForClubLogo/"+clubId,
        dataType: "json",
        data: JSON.stringify(imageLogoJson),
        success: function (result) {
          if (result.messageType == "ERROR") {
            alert(result.message)
          } else if (result.messageType == "SUCCESS") {
            // add href
            alert(result.message)
          }
          console.log(result);
          window.location.href = window.location.href;
        },
        error: function (e) {
          alert("Error!")
          console.log("ERROR: ", e);
        }
      });
    });

  //Save backgeound image
  $("#save_background").click( function () {
    var imageBackgroundJson = {
      file:  imageBackground
    }
    alert(imageLogo);
    $.ajax({
      type: "PUT",
      headers: {
        "Access-Control-Allow-Origin": "*",
        Authorization: localStorage.getItem('Authorization')
      },
      crossDomain: true,
      contentType: "application/json",
      url: "http://localhost:8080/club/uploadPhotoForClubBackground/"+clubId,
      dataType: "json",
      data: JSON.stringify(imageBackgroundJson),
      success: function (result) {
        if (result.messageType === "ERROR") {
          alert(result.message)
        } else if (result.messageType === "SUCCESS") {
          // add href
          alert(result.message)
        }
        console.log(result);
        window.location.href = window.location.href;
      },
      error: function (e) {
        alert("Error!")
        console.log("ERROR: ", e);
      }
    });
  });


  //Navabr loaded
  $(".nav_bar").load("http://localhost:8080/club_director.html");
  $("#events_nav").addClass("active");
  //Need to fix this
  $(document).ready(function () {

    //get method
    clubId = [[${clubId}]]
    $.ajax({
      type: "GET",
      headers: {
        "Access-Control-Allow-Origin": "*",
        Authorization: localStorage.getItem('Authorization')
      },
      crossDomain: true,
      contentType: "application/json",
      url: "http://localhost:8080/club/get/" + clubId,
      dataType: 'json',
      success: function (response) {
        console.log(response);
        $("#club_name").text(response.name);
        $("#club_description").text(response.description);
        if(response.logoImage !== "")
        {
          $("#logo").attr("src", "data:image/png;base64," +response.logoImage); //Actual image

        }
        else
        {
          $("#logo").attr("src", "https://source.unsplash.com/910x592"); //Default image
        }

        if(response.backgroundImage !== "")
        {
          $('#background').css('background', 'url(data:image/png;base64,' + response.backgroundImage + ')');
        }
        else
        {
          $('#background').css('background', 'url(https://bootstrapious.com/i/snippets/sn-static-header/background.jpg)'); //Default image
        }
        $("#explanation_edit").text(response.description);



        for (let i = 0; i < response.boardMembers.length; i++) {
          showMember(response.boardMembers, i)
        }

      }
    });

    function showMember(mem, i) {
      var imageLink;
      if(mem[i].profileImage !== "")
      {
        imageLink = "data:image/png;base64,"+mem[i].profileImage;
      }
      else
      {
        imageLink = "https://source.unsplash.com/794x794";

      }
      $("#list_members").append("<div class='col'> <div class=\"card border-0\">\n" +
              "                                <div class=\"position-relative rounded-circle overflow-hidden mx-auto custom-circle-image\" style=\"height: 200px; width: 200px\">\n" +
              "                                    <img class=\"w-100 h-100 rounded-circle\" src="+imageLink+" style=\"height: 100px; width: 100px\" alt=\"Card image cap\">\n" +
              "                                </div>\n" +
              "                                <div class=\"card-body text-center mt-4\">\n" +
              "                                    <h3 class=\"text-uppercase card-title\">" + mem[i].userFullName + "</h3>\n" +
              "                                    <p class=\"card-text\">" + mem[i].title + "</p>\n" +
              "                                </div>\n" +
              "                            </div> </div>")

    }

    //On clicks for mananager buttons
    $( "#edit_application" ).click(function() {
      window.location.href = 'http://localhost:8080/app/club_form';

    });

    //Save new description
    $( "#save_description" ).click(function() {
      var newDescription ={
        newDescription: $("#explanation_edit").val()
      };

      $.ajax({
        type: "PUT",
        headers: {
          "Access-Control-Allow-Origin": "*",
          Authorization: localStorage.getItem('Authorization')
        },
        crossDomain: true,
        contentType : "application/json",
        url : "http://localhost:8080/club/changeDescription/"+clubId,
        data: JSON.stringify(newDescription),
        dataType: 'JSON',
        success : function(result) {
          if (result.messageType === "ERROR") {
            alert(result.message)
          } else if (result.messageType === "SUCCESS") {
            // add href
            alert(result.message)
          }
          //if (result.messageType === "SUCCESS") {
          //    alert("You are now a member");
          //} else {
          //    alert("oh nooo smthhh");
          //}
          console.log(result);
          window.location.href = window.location.href;
        },
        error: function (e) {
          alert("Error!")
          console.log("ERROR: ", e);
        }
      });
    });

    //Dialog for changing logo
    $("#edit_logo").click(function () {

      // show Modal
      $('#edit_logo_dialog').modal('show');
    });

    //Dialog for changing description
    $("#edit_description").click(function () {

      // show Modal
      $('#edit_description_dialog').modal('show');
    });

    //Dialog for changing background
    $("#edit_background").click(function(){

      // show Modal
      $('#edit_background_dialog').modal('show');
    });
  });




  

</script>
</html>