<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link src="nav_bar/admin.html">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
</head>
<body>


<div class="nav_bar" ></div>

<h2 class="d-flex justify-content-center mt-4 pt-6">My Club List</h2>

<div class="container table-responsive mx-auto my-2 p-3 ">
  <table class="table display table-striped" id="club-list">
  <thead class="bg-dark text-light">
  <tr>
    <th class="filtered">Club Name</th>
    <th>Home page</th>
  </tr>
  </thead>
    <tbody>
</table>

</div>

</body>
<script>$(document).ready(function () {
  $(".nav_bar").load("http://localhost:8080/student.html");

});</script>
<script>
  $(document).ready(function () {

    var tbl = $("#club-list").DataTable({
      columnDefs: [{
        "defaultContent": "-",
        "targets": "_all"
      }]
    });


    $.ajax({
      type: "GET",
      headers: {
        "Access-Control-Allow-Origin": "*",
        Authorization: localStorage.getItem('Authorization')
      },
      crossDomain: true,
      contentType: "application/json",
      url:"http://localhost:8080/getClubsOfStudent/"+localStorage.getItem('userId'),
      dataType: 'json',
      success: function (response) {
        console.log(response);
       function showClubs(r, i) {
         //${r[i].clubId}
         tbl.row.add([
           r[i].name,
           `<button onclick="function b(){ console.log(\"button\")}" >Go to club home page</button>`,
           "delete button gelecek"
           //`<button onclick='deleteClub(${r[i].clubId})' >Delete Club</button>`
         ]).draw(false);
       };

       for (let i = 0; i < response.length; i++) {
         showClubs(response, i);
       }
      }
    });
  });
</script>

</html>