<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Sign Up(Faculty Advisor & Club Director)</title>

</head>
<body>
<section>
    <h2 class="d-flex justify-content-center">Sign Up For Club Directors & Faculty Advisors</h2>
    <form style="width: 30%; margin: auto">
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="signUpName">Name</label>
                    <input type="name" class="form-control" id="signUpName" placeholder="Enter your name">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="signUpSurname">Surname</label>
                    <input type="surname" class="form-control" id="signUpSurname" placeholder="Enter your surname">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="signUpEmail">Email Address</label>
            <input type="email" class="form-control" id="signUpEmail" placeholder="Enter your email address">
        </div>
        <div class="d-flex justify-content-center">
            <button style="background-color: #2ED3DB" type="button" class="btn btn-primary"><a class="text-dark">Submit for Sign Up</a></button>
        </div>
        <div class="d-flex justify-content-center">
            <button style="background-color: #5FFBF1" type="button" class="btn btn-primary"><a class="text-dark">Go To Main Page</a></button>
        </div>
    </form>
</section>
</body>
</html>