<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link src="../nav_bar_club_director.html">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

</head>
<body>
<!-- This page requires all clubs including their name email and faculty advisor-->
<!-- This page directs to club home page for admnis-->
<!-- This page delete a club-->
<!-- This page can add a new club-->

<div class="nav_bar" ></div>
<h2 class="d-flex justify-content-center mt-4 pt-6">Event List of </h2>
<h2 class="d-flex justify-content-center mt-4 pt-6" id="name"></h2>
<div class="container table-responsive mx-auto my-2 p-3 ">
    <table class="table display table-striped club-list" id="club-list">
        <thead class="bg-dark text-light">
        <tr>

            <th>Event Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Ge Points</th>
            <th>Location</th>
            <th>Quota</th>
            <th>Details</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="event:${events}">
            <td th:text="${event.clubName}"></td>
            <td th:text="${event.eventName}"></td>
            <td th:text="${event.startDate}"></td>
            <td th:text="${event.time}">Time</td>
            <td th:text="${event.gePoint}"></td>

            <td th:text="${event.location}"></td>
            <td><button type="button" class="btn btn-info text-light">See Details</button></td>
        </tr>
        </tbody>

    </table>

</div>

</body>


<script>
    window.onload = function () {
    console.log("in onload");
    $.ajax({
      type: "GET",
      headers: {
        "Access-Control-Allow-Origin": "*",
        Authorization : localStorage.getItem('Authorization')
      },
      crossDomain: true,
      contentType: "application/json",
      url: `http://localhost:8080/${club_id}/event_list`,
      dataType: 'json',
      success: function(response) {
        $("#name").text(response.message);
        console.log(response);
      }
    });
  };
</script>


<script>
      $(document).ready( function () {
$(".nav_bar").load("http://localhost:8080/student.html");
    $("#events_nav").addClass("active");
    $('.club-list').DataTable(
                    { language: {
                            searchPlaceholder: "Search",
                            search: "",
                        },
                         });
    });
</script>

</html>