<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link src="../nav_bar_club_director.html">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
   <!--- <style>
    body {
        background-color: aquamarine;
        margin : 0px;
    }
    .fa-star {
        font-size : 50px;
        align-content: center;
    }
    .container {
        height: 100px;
        width: 600px;
        margin: auto;
    }
    </style>-->
</head>
<body>
<!-- This page requires all clubs including their name email and faculty advisor-->
<!-- This page directs to club home page for admnis-->
<!-- This page delete a club-->
<!-- This page can add a new club-->

<div class="nav_bar" ></div>

<h2 class="d-flex justify-content-center mt-4 pt-6">My Events</h2>
<div class=" mx-5 px-3">
<ul>
        <button class="btn-outline-dark" id="all-e"><h5>All  Events</h5></button>
        <button class="btn-outline-dark"id="future-e"><h5>Future events</h5></button>
        <button class="btn-outline-dark" id="past-e"><h5>Past events</h5></button>
        <button class="btn-outline-dark" id="ongoing-e"><h5>Ongoing events</h5></button>


</ul>
</div>
<div class="container table-responsive mx-auto my-2 p-3 ">
    <table class="table display table-striped event-list">
        <thead class="bg-dark text-light">
        <tr>
            <th>Club Name</th>
            <th>Event Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Ge Points</th>
            <th>Location</th>
            <th>Quota</th>
            <th>Details</th>
            <th>Review</th>

        </tr>
        </thead>
        <tbody>

        </tr>
    </tbody>

    </table>

</div>

<div class="modal review-m" tabindex="-1" role="dialog" id="open">

    <div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header bg-info text-light"><h5 class="modal-title">Add Club</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><div class = "container rating"><h2 style="margin-top: 50px;">Review</h2><div class = "con"><h3 style = "margin-top : 80px; color: green;">Rate our product :-</h3><i class = "fa fa-star" aria-hidden = "true" id = "st1"></i><i class = "fa fa-star" aria-hidden = "true" id = "st2"></i> <i class = "fa fa-star" aria-hidden = "true" id = "st3"></i><i class = "fa fa-star" aria-hidden = "true" id = "st4"></i> <i class = "fa fa-star" aria-hidden = "true" id = "st5"></i> </div> </div>    <div class="modal-footer"> <button type="button" class="btn btn-primary rev" id = "createClub">Review</button> <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>         </div>        </div>  </div></div>
</div>


</div></body>

<script>
    $(".nav_bar").load("http://localhost:8080/student.html");
    $("#events_nav").addClass("active");

function goToEvent(id) {
                window.location.href= `http://localhost:8080/app/STUDENT_event_homepage/${id}`;
              }
         function goToReview(id)
         {

            $(".review-m").modal('show');
            $(".review-m").attr("id", `${id}`)
            rating = -1;
         }
    $(document).ready( function () {
    var rating = -1
             $("#st1").click(function() {
              $(".fa-star").css("color", "black");
              $("#st1").css("color", "yellow");
              rating = 1;
          });

          $("#st2").click(function() {
              $(".fa-star").css("color", "black");
              $("#st1, #st2").css("color", "yellow");
              rating = 2;
          });
          $("#st3").click(function() {
              $(".fa-star").css("color", "black")
              $("#st1, #st2, #st3").css("color", "yellow");
              rating = 3;
          });
          $("#st4").click(function() {
              $(".fa-star").css("color", "black");
              $("#st1, #st2, #st3, #st4").css("color", "yellow");
              rating = 4;
          });
          $("#st5").click(function() {
              $(".fa-star").css("color", "black");
              $("#st1, #st2, #st3, #st4, #st5").css("color", "yellow");
              rating = 5;
          });
          $(".rev").click(function(){
            id = $(".review-m").attr("id");

            point = `${rating}`
            alert("zz"+point+" - " + id)
            if(rating >0)
            {
            $(".fa-star").css("color", "black");

                var posted = {
                    eventId : id,
                    userId : localStorage.getItem('userId'),
                    point : point
                }
                $.ajax({
                    type : "POST",
                    headers: {
                        "Access-Control-Allow-Origin":"*",
                        Authorization : localStorage.getItem('Authorization')
                    },

                    crossDomain: true,
                    contentType : "application/json",
                    url : `http://localhost:8080/app/eventEvaluation/add/${id}/student/${localStorage.getItem('userId')}`,
                    data : JSON.stringify(posted),
                    dataType : 'json',
                    success : function(result) {
                        if (result.messageType == "ERROR") {
                            alert(result.message)
                        } else if (result.messageType == "SUCCESS") {
                            $("#review-open").hide();
                        }
                        console.log(result);
                    },
                    error : function(e) {
                    //    alert("Error!")
                        //console.log("eventStatus", eventStatus);
                        console.log("ERROR: ", e);
                    }
                });

            }
          })

        $('.club-list').DataTable(
          { language: {
                searchPlaceholder: "Search",
                search: "",
          },
          });
      var table = $(".event-list").DataTable();


      $.ajax({
        type: "GET",
        headers: {
          "Access-Control-Allow-Origin": "*",
          Authorization : localStorage.getItem('Authorization')
        },
        crossDomain: true,
        contentType: "application/json",
        url: `http://localhost:8080/studentHomePage/${localStorage.getItem('userId')}`,
        dataType: 'json',
        success: function(response) {
          console.log(response);
            function showEvents(r, i){
                var startDate = new Date(r[i].startDate);
                var dummyDate = "1111-11-11";
                var startTime = new Date(dummyDate + " " + r[i].startTime);

                var endDate = new Date(r[i].endDate);
                var endTime = new Date(dummyDate + " " + r[i].endTime);

                table.row.add([
                r[i].eventName,
                r[i].clubName,
                    startDate.toLocaleDateString() + "\n" + (startTime.toLocaleTimeString()).substr(0,5),
                    endDate.toLocaleDateString() + "\n" + (endTime.toLocaleTimeString()).substr(0,5),
                r[i].gePoint,
                r[i].location,
                    r[i].remainingQuota +"/" + r[i].quota,
              `<button onclick='goToEvent(${r[i].eventId})'>Go to event's home page</button>`,
                "<p></p>"
                ]).draw();

              $(table.row( 'last').node()).addClass('future');
             //,  alert($(newRow).hasClass("future") + "+++++");
          };

          for (let i = 0; i < response.length; i++) {
            showEvents(response, i);
          }
        }
      });

      $.ajax({
        type: "GET",
        headers: {
          "Access-Control-Allow-Origin": "*",
          Authorization : localStorage.getItem('Authorization')
        },
        crossDomain: true,
        contentType: "application/json",
        url: `http://localhost:8080/getPastEventsOfStudent/${localStorage.getItem('userId')}`,
        dataType: 'json',
        success: function(response) {
          console.log(response);
      //    $("#name").text(`${localStorage.getItem('userId')}`); //buraya içeri ne yazmam lazım user id(tercihen user ismi) gelmesi için?
          function showEventsP(r, i){
              var startDate = new Date(r[i].startDate);
              var dummyDate = "1111-11-11";
              var startTime = new Date(dummyDate + " " + r[i].startTime);

              var endDate = new Date(r[i].endDate);
              var endTime = new Date(dummyDate + " " + r[i].endTime);

              table.row.add([
                  r[i].eventName,
                  r[i].clubName,
                  startDate.toLocaleDateString() + "\n" + (startTime.toLocaleTimeString()).substr(0,5),
                  endDate.toLocaleDateString() + "\n" + (endTime.toLocaleTimeString()).substr(0,5),
              r[i].gePoint,
              r[i].location,
                r[i].remainingQuota +"/" + r[i].quota,
`<button onclick='goToEvent(${r[i].eventId})'>Go to event's home page</button>`,
            `<button class=\"review-b\" onclick=\"goToReview(${r[i].eventId})\">Review</button>`
            ]).draw();
              $(table.row( 'last').node()).addClass('past');
          };

          for (let i = 0; i < response.length; i++) {
            showEventsP(response, i);
          }
        }
      });


      $.ajax({
        type: "GET",
        headers: {
          "Access-Control-Allow-Origin": "*",
          Authorization : localStorage.getItem('Authorization')
        },
        crossDomain: true,
        contentType: "application/json",
        url: `http://localhost:8080/getOnGoingEventsOfStudent/${localStorage.getItem('userId')}`,
        dataType: 'json',
        success: function(response) {
          console.log(response);
          function showEventsO(r, i){
              var startDate = new Date(r[i].startDate);
              var dummyDate = "1111-11-11";
              var startTime = new Date(dummyDate + " " + r[i].startTime);

              var endDate = new Date(r[i].endDate);
              var endTime = new Date(dummyDate + " " + r[i].endTime);

              table.row.add([
                  r[i].eventName,
                  r[i].clubName,
                  startDate.toLocaleDateString() + "\n" + (startTime.toLocaleTimeString()).substr(0,5),
                  endDate.toLocaleDateString() + "\n" + (endTime.toLocaleTimeString()).substr(0,5),
              r[i].gePoint,
              r[i].location,
                r[i].remainingQuota +"/" + r[i].quota,
`<button onclick='goToEvent(${r[i].eventId})'>Go to event's home page</button>`,
              "<p></p>"
            ]).draw(false);
              $(table.row( 'last').node()).addClass('ongoing');
          };

          for (let i = 0; i < response.length; i++) {
            showEventsO(response, i);
          }
        }
      });

              var clicked =4;
              $("all-e").addClass("active");
                  $("#all-e").click(function () {

    });
                  selectAll();
                  table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
    var data = this.data();
    node=this.node()
    // ... do something with data(), or this.node(), etc
    console.log($(this).hasClass("future"))
} );
    });
function selectAll(){

            $('ul button').removeClass('active');
            $("#all-e").addClass('active');
            $(".past").show();
            $(".future").show();
            $(".ongoing").show();
            clicked = 4;
    }

    $("#past-e").click(function () {
    console.log("1 ----> "+clicked)
     if($(this).hasClass("active")){
        $(this).removeClass('active');
            $(".past").hide();/////
            clicked--;
            if(clicked==0)
                selectAll()
            console.log("1 ----> "+clicked)
        }
       else{
        if(clicked==4){
            clicked=0
             $(".future").hide();
             $(".ongoing").hide();
             $("#all-e").removeClass("active");
               console.log("1 ----> "+clicked)
        }
        $(this).addClass('active');
        $(".past").show();
        clicked++;
        console.log("1 ----> "+clicked)
        }

    });

    $("#future-e").click(function () {
    console.log("1 ----> "+clicked)
     if($(this).hasClass("active")){
        $(this).removeClass('active');
            $(".future").hide();
            clicked--;
            if(clicked==0)
                selectAll()
            console.log("1 ----> "+clicked)
        }
       else{
        if(clicked==4){
            clicked=0
             $(".past").hide();
             $(".ongoing").hide();
             $("#all-e").removeClass("active");
               console.log("1 ----> "+clicked)
        }
        $(this).addClass('active');
        $(".future").show();
        clicked++;
        console.log("1 ----> "+clicked)
        }

    });
    $("#ongoing-e").click(function () {
    console.log("1 ----> "+clicked)
     if($(this).hasClass("active")){
        $(this).removeClass('active');
            $(".ongoing").hide();
            clicked--;
            if(clicked==0)
                selectAll()
            console.log("1 ----> "+clicked)
        }
       else{
        if(clicked==4){
            clicked=0
             $(".future").hide();///çslışmıyot
             $(".past").hide();
             $("#all-e").removeClass("active");
               console.log("1 ----> "+clicked)
        }
        $(this).addClass('active');
        $(".ongoing").show();
        clicked++;
        console.log("1 ----> "+clicked)
        }

    });

</script>

<script>

</script>
</html>