<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Student event home page</title>
</head>
<body>
<div class="row justify-content-around" style="margin-top: 3%">
    <img src="ing-amblem.jpg" alt="Club logo" style="width: 250px; margin-bottom: 3%">
    <h2 style="margin-top: 8%" id="event-name">Event name</h2>
    <div class="d-flex flex-column align-self-center">
        <div id = "enroll" ><button type="button" class="btn btn-primary" style="width: 200px; background-color: #20B5BDFF; margin-bottom: 20px" id="enrollBtn"><a class="text-dark font-weight-bold">Enroll</a></button></div>
        <div id = "cancelEnrollment" ><button type="button" class="btn btn-secondary" style="width: 200px; background-color: #ccd3d3" id="cancelEnrollmentBtn"><a class="text-dark">Cancel Enrollment</a></button></div>
    </div>
</div>
<div class="row justify-content-around" id="even-info" style="margin-left: 3%; margin-right: 3%">
    <table class="table w-50" id="event-info-part1">
        <tbody>
        <tr>
            <th scope="row" style="background-color: #c5c7c7; width: 25%">Status</th>
            <td style="background-color: #eafafa" id="status"></td>
        </tr>
        <tr>
            <th scope="row" style="background-color: #c5c7c7">Description</th>
            <td style="background-color: #c0efef" id="description"></td>
        </tr>
        <tr>
            <th scope="row" style="background-color: #c5c7c7">Club</th>
            <td style="background-color: #eafafa" id="club"></td>
        </tr>
        <tr>
            <th scope="row" style="background-color: #c5c7c7">Member Exclusive</th>
            <td style="background-color: #c0efef"><input style="width: 20px; height: 20px" type="checkbox" class="form-check" disabled="disabled" id="member-only"></td>
        </tr>
        <tr>
            <th scope="row" style="background-color: #C5C7C7FF">Start Date</th>
            <td style="background-color: #eafafa" id="start-date"></td>
        </tr>
        <tr>
            <th scope="row" style="background-color: #C5C7C7FF">End Date</th>
            <td style="background-color: #eafafa" id="end-date"></td>
        </tr>
        <tr>
            <th scope="row" style="background-color: #C5C7C7FF">Start Time</th>
            <td style="background-color: #c0efef" id="start-time"></td>
        </tr>
        <tr>
            <th scope="row" style="background-color: #C5C7C7FF">End Time</th>
            <td style="background-color: #c0efef" id="end-time"></td>
        </tr>
        </tbody>
    </table>
    <table class="table w-50" id="event-info-part2">
        <tbody>
        <tr>
            <th scope="row" style="background-color: #C5C7C7FF; width: 30%">Total Quota</th>
            <td style="background-color: #eafafa" id="quota"></td>
        </tr>
        <tr>
            <th scope="row" style="background-color: #C5C7C7FF">Available Quota</th>
            <td style="background-color: #eafafa" id="remaining-quota"></td>
        </tr>
        <tr>
            <th scope="row" style="background-color: #C5C7C7FF">GE Points</th>
            <td style="background-color: #c0efef" id="ge-point"></td>
        </tr>
        <tr>
            <th scope="row" style="background-color: #C5C7C7FF">In Bilkent</th>
            <td style="background-color: #eafafa"><input style="width: 20px; height: 20px" type="checkbox" class="form-check" disabled="disabled" id="in-bilkent"></td>
        </tr>
        <tr>
            <th scope="row" style="background-color: #C5C7C7FF">Location</th>
            <td style="background-color: #eafafa" id="location-description"></td>
        </tr>
        <tr>
            <th scope="row" style="background-color: #C5C7C7FF">Registration Deadline</th>
            <td style="background-color: #c0efef" id="reg-deadline"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>

<script>

    document.getElementById("enroll").style.visibility="hidden";
    document.getElementById("cancelEnrollment").style.visibility="hidden";

    var id = [[${eventId}]];

    // get enrollment status
    $.ajax({
        type: "GET",
        headers: {
            "Access-Control-Allow-Origin": "*",
            Authorization : localStorage.getItem('Authorization')
        },
        crossDomain: true,
        contentType: "application/json",
        url: `http://localhost:8080/event/${id}/isEnrolledStudent/${localStorage.getItem('userId')}`,
        dataType: 'json',
        success: function (response) {
            console.log(response);

            if (response.result) {
                document.getElementById("enroll").style.visibility="hidden";
                document.getElementById("cancelEnrollment").style.visibility="visible";
            } else {
                document.getElementById("enroll").style.visibility="visible";
                document.getElementById("cancelEnrollment").style.visibility="hidden";
            }

            // refresh etmek için bir şey eklenmeli
        },
        error: function (e) {
            alert("Error!")
            console.log("ERROR: ", e);
        }
    })

    $("#enrollBtn").click(function() {
        // Prevent the form from submitting via the browser.
        //event.preventDefault();
        enroll();
    });

    function  enroll() {
        $.ajax({
            type: "PUT",
            headers: {
                "Access-Control-Allow-Origin": "*",
                Authorization : localStorage.getItem('Authorization')
            },
            crossDomain: true,
            contentType: "application/json",
            url: `http://localhost:8080/event/${id}/addEnrolledStudent/${localStorage.getItem('userId')}`,
            dataType: 'json',
            success: function (response) {
                if (response.messageType == "ERROR") {
                    alert(response.message)
                }
                    // add refresh
            },
            error: function (e) {
                alert("Error!")
                console.log("ERROR: ", e);
            }
        })
    }

    $("#cancelEnrollmentBtn").click(function() {
        // Prevent the form from submitting via the browser.
        //event.preventDefault();
        cancelEnrollment();
    });

    function  cancelEnrollment() {
        $.ajax({
            type: "PUT",
            headers: {
                "Access-Control-Allow-Origin": "*",
                Authorization : localStorage.getItem('Authorization')
            },
            crossDomain: true,
            contentType: "application/json",
            url: `http://localhost:8080/event/${id}/deleteEnrolledStudent/${localStorage.getItem('userId')}`,
            dataType: 'json',
            success: function (response) {
                if (response.messageType == "ERROR") {
                    alert(response.message)
                }
            },
            error: function (e) {
                alert("Error!")
                console.log("ERROR: ", e);
            }
        })
    }

    $(document).ready(function() {

            console.log("in doc ready function");

            var dummyEvent1 = {eventId: 1,
                    name: "event 1",
                    status: "PUBLISHED",
                    description: "event 1 desc",
                    club: "club amazing",
                    startDate: "2021-12-26",
                    endDate:"2021-12-26",
                    startTime: "10:00:00",
                    endTime: "13:00:00",
                    quota: 50,
                    remainingQuota: 20,
                    gePoint: 15,
                    registrationDeadline: "2021-12-25",
                    inBilkent: true,
                    memberOnly: false,
                    descriptionLocation: "BZ04 (B building, first floor)"
            };




            //Get event
            $.ajax({
                type: "GET",
                headers: {
                    "Access-Control-Allow-Origin": "*",
                    Authorization: localStorage.getItem('Authorization')
                },
                crossDomain: true,
                contentType: "application/json",
                url: `http://localhost:8080/event/get/${id}`,
                success: function (response) {
                    console.log(response);
                    console.log("right before assigning values");
                    $('#event-name').text(response.name.toUpperCase());
                    $('#status').text(response.eventStatus.toLowerCase());
                    $('#description').text(response.description);
                    $('#club').text(response.club);

                    if (response.memberOnly) {
                        $('#member-only').prop("checked", true);
                    } else {
                        $('#member-only').prop("checked", false);
                    }

                    var startDate = new Date(response.startDate);
                    $('#start-date').text(startDate.toLocaleDateString());

                    var endDate = new Date(response.endDate);
                    $('#end-date').text(endDate.toLocaleDateString());

                    var dummyDate = "1111-11-11";
                    var startTime = new Date(dummyDate + " " + response.startTime);
                    $('#start-time').text((startTime.toLocaleTimeString()).substr(0,5));

                    var endTime = new Date(dummyDate + " " + response.endTime);
                    $('#end-time').text((endTime.toLocaleTimeString()).substr(0,5));

                    $('#quota').text(response.quota);
                    $('#remaining-quota').text(response.remainingQuota);
                    $('#ge-point').text(response.gePoint);

                    if (response.inBilkent) {
                        $('#in-bilkent').prop("checked", true);
                    } else {
                        $('#in-bilkent').prop("checked", false);
                    }

                    $('#location-description').text(response.descriptionLocation);

                    var regDate = new Date(response.registrationDeadline);
                    $('#reg-deadline').text(regDate.toLocaleDateString());
                },
                error: function (e) {
                    alert("Error!")
                    console.log("ERROR: ", e);
                }
            });




        }
    );
</script>
</html>